FROGPHONE= # FrogPhone ip
REFRESH_TIME= # refresh every X seconds; optional as default is 20s
CATALOG=false # if true, stores the last 12 hours worth of images that can be viewed in the catalog
# CATALOG_STORAGE= # where to store the images
